body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  padding: 10px;
  margin: 10px auto;
}

.title {
  background: #e3f4ff;
  padding: 5px;
  margin: 0px;
  /* margin-bottom: 10px; */
}

.content {
  background: #e3f4ff;
  padding: 5px;
  /* margin-bottom: 10px;  */
  margin: 10px 0px;
}

.button-container {
  text-align: center;
  background: #e3f4ff;
  padding: 5px;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: 0px auto;
  padding: 5px;
}